body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: beige;
}
#map {
  width: 100%;
  height: 100%;
}

#instructions-content{
  color: black;
}

/* Menú de hamburguesa */
.hamburger-menu {
  cursor: pointer;
  font-size: 28px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1001;
  color: black;
  transition: color 0.3s ease;
}
.hamburger-menu:hover {
  color: #666;
}

/* Barra de búsqueda */
#search-bar {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

#search-input:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#search-button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #0056b3;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 15px;
}


/* Sidebar con scroll */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: linear-gradient(to bottom, #38096e, #491855);
  z-index: 999;
  padding: 25px;
  padding-bottom: 50%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  overflow-y: auto; /* Permitir scroll */
}



.sidebar.open {
  display: grid;
}


.sidebar a {
  color: white;
  text-decoration: none;
  text-align: center;
  justify-items: center;
  margin: 10px 0;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#coordenadas {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  font-size: 14px;
  z-index: 1001;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}














/* Lista de locales */
#locales-list {
  display: none;
  flex-direction: column;
  gap: 10px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #3f3c3c;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.local-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #363333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  word-wrap: break-word;
}

.local-item:hover {
  background-color: #272525;
  color: #0056b3;
}

.realizado {
  background-color: #e0ffe0;
}
.start-route-btn, .update-status-btn, .save-status-btn {
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}
.status-select {
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.start-route-btn, .update-status-btn, .save-status-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #3887be;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-route-btn:hover, .update-status-btn:hover, .save-status-btn:hover {
  background-color: #285a8e;
}


/* Filtro de locales */
#filtro-locales {
  margin-bottom: 20px;
}

#filtro-selector {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  width: 100%;
}

/* Barra de meses */
#meses-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 10px;
}

#findNearestButton{
  margin-bottom: 20%;
}


/* Dispositivos menores a 768x1024 */
@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .sidebar {
    width: 50%;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .hamburger-menu {
    font-size: 28px;
  }

  #search-input {
    width: 80%;
  }

  #locales-list {
    max-height: 250px;
    padding: 15px;
  }

  .start-route-btn, .update-status-btn, .save-status-btn {
    padding: 10px;
    font-size: 14px;
  }

  .status-select {
    padding: 8px;
    font-size: 14px;
  }
}

/* Dispositivos menores a 480x800 */
@media only screen and (max-width: 480px) and (max-height: 800px) {
  .sidebar {
    width: 60%; /* Ocupa más del 50% */
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .hamburger-menu {
    font-size: 32px; /* Aumenta el tamaño del menú */
  }

  #search-input {
    width: 80%;
  }

  #locales-list {
    max-height: 200px;
    padding: 15px;
  }

  .start-route-btn, .update-status-btn, .save-status-btn {
    padding: 10px;
    font-size: 13px;
  }

  .status-select {
    padding: 7px;
    font-size: 13px;
  }
}

/* Dispositivos menores a 360x640 */
@media only screen and (max-width: 360px) and (max-height: 640px) {
  .sidebar {
    width: 70%; /* Ocupa aún más espacio en pantalla pequeña */
  }


  #map {
    width: 100%;
    height: 100%;
  }
  .hamburger-menu {
    font-size: 36px; /* Aumenta aún más el tamaño del menú */
  }

  #search-input {
    width: 90%;
  }

  #locales-list {
    max-height: 150px;
    padding: 10px;
  }

  .start-route-btn, .update-status-btn, .save-status-btn {
    padding: 8px;
    font-size: 12px;
  }

  .status-select {
    padding: 6px;
    font-size: 12px;
  }
}

/* Dispositivos menores a 320x568 */
@media only screen and (max-width: 320px) and (max-height: 568px) {
  .sidebar {
    width: 80%; /* Sidebar ocupa aún más de la pantalla */
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .hamburger-menu {
    font-size: 40px; /* Tamaño máximo para el menú */
  }

  #search-input {
    width: 100%;
  }

  #locales-list {
    max-height: 120px;
    padding: 8px;
  }

  .start-route-btn, .update-status-btn, .save-status-btn {
    padding: 6px;
    font-size: 11px;
  }

  .status-select {
    padding: 5px;
    font-size: 11px;
  }
}





 /* Estilos generales */
 #locales-list {
  display: none; /* Inicialmente oculto */
  max-height: 300px;
  overflow-y: auto;
  background-color: #3f3c3c; /* Fondo gris claro */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.local-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #363333; /* Fondo blanco */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.local-item:hover {
  background-color: #e0e0e0; /* Cambia de color al pasar el mouse */
}

.start-route-btn {
  background-color: #3887be;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.start-route-btn:hover {
  background-color: #285a8e;
}




 /* Estilos generales */
 #locales-list {
  display: none; /* Inicialmente oculto */
  max-height: 300px;
  overflow-y: auto;
  background-color: #3f3c3c; /* Fondo gris claro */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.local-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #363333; /* Fondo blanco */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.local-item:hover {
  background-color: #e0e0e0; /* Cambia de color al pasar el mouse */
}

.start-route-btn {
  background-color: #3887be;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.start-route-btn:hover {
  background-color: #285a8e;
}