/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #2c3e50, #34495e);
  padding: 20px;
  color: white;
}

/* Centrando contenido */
.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estado del usuario */
#estado-usuario {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos del botón de mapa */
#boton-mapa {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#boton-mapa:hover {
  background-color: #0056b3;
}

/* Estilos para la sección de agregar local */
#agregar-local {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
#agregar-local input,
#agregar-local select {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
#agregar-local button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#agregar-local button:hover {
  background-color: #218838;
}

/* Estilos específicos para la opción de tasa */
.tasa-opciones {
  display: flex;
  align-items: center;
}
#tasa-check {
  margin-right: 10px;
}
#tasa {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Estilos de los locales */
.local {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.local:not(.realizado):not(.problema) {
  background-color: #e0e0e0;
  color: black; /* Cambiar color de texto para "No Listo" */
}
.local.realizado {
  background-color: #28a745;
  color: white;
}
.local.problema {
  background-color: #ffc107;
  color: black;
}
.local label {
  flex-grow: 1;
}
.local select {
  padding: 5px;
}
.local .check-realizado {
  order: -1; /* Mover el checkbox al principio */
}
.local button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.local button:hover {
  background-color: #0056b3;
}

/* Estilos del botón de eliminar */
.local .btn-eliminar {
  background-color: #dc3545;
  transition: background-color 0.3s ease;
}
.local .btn-eliminar:hover {
  background-color: #c82333;
}

/* Estilos de los contadores */
#contadores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#total-locales, #total-dinero, #total-tasas, #locales-desinfectados {
  font-weight: bold;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  #agregar-local, #contadores {
    flex-direction: column;
    align-items: center;
  }

  #agregar-local input,
  #agregar-local select,
  #agregar-local button,
  #tasa {
    width: 100%;
    margin-bottom: 10px;
  }

  .local {
    flex-direction: column;
    align-items: flex-start;
  }

  .local button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}


.vista-previa {
  opacity: 0.6;
}

.vista-previa input,
.vista-previa select,
.vista-previa button {
  cursor: not-allowed;
}


#linea-separadora {
  border: 0;
  height: 1px;
  background-color: #cc0606; /* Color de la línea */
  margin: 20px 0; /* Espaciado superior e inferior */
}

